<div class="container info">
    <div class="top card col-3">
        <h1>Allocated</h1>
        <hr>
        <h2>700 CET</h2>
    </div>
    <div class="top card col-3">
        <h1>Available</h1>
        <hr>
        <h2>170 CET</h2>
    </div>
    <div class="top card col-3">
        <h1>Used</h1>
        <hr>
        <h2>530 CET</h2>
    </div>
</div>
<hr>
<div class="container history">
    <div>
        <h1>History- Carbon Consumption Rate</h1>
        <canvas id="history-graph"> </canvas>
    </div>
</div>